@{
    ViewData["Title"] = "Attractions";
}

<section class="hero" style="background: url('/images/TahitiUncovered.jpg') no-repeat center center/cover;">
    <h1>Explore Taniti's Wonders</h1>
</section>


<section class="quick-links">
    <h2>Top Attractions</h2>
    <div class="links">
        <div class="card">Rainforest Hike <a href="#" class="btn">Learn More</a></div>
        <div class="card">Volcano Tour <a href="#" class="btn">Learn More</a></div>
        <div class="card">Snorkeling Trip <a href="#" class="btn">Learn More</a></div>
        <div class="card">Historical Museum <a href="#" class="btn">Learn More</a></div>
        <div class="card">Art Galleries <a href="#" class="btn">Learn More</a></div>
    </div>
</section>

<section class="extra-info">
    <h2>Other Things To Do</h2>
    <ul style="list-style-type:none">
        <li>Visit a local history museum</li>
        <li>Chartered fishing tours</li>
        <li>Zip-lining in the rainforest</li>
        <li>Dance club, movie theater, art galleries, and bowling</li>
        <li>Golf course (coming soon!)</li>
    </ul>
</section>


<section class="map-button">
    <a href="#" class="btn">See on Map</a>
</section>

