@{
    ViewData["Title"] = "Dining";
}

<section class="hero" style="background: url('/images/restaurant.jpg') no-repeat center center/cover;">
    <h1>Taste the Flavors of Taniti</h1>
</section>

<section class="quick-links">
    <h2>Dining Options</h2>
    <div class="links">
        <div class="card">Local Fish & Rice <a href="#" class="btn">See Menu</a></div>
        <div class="card">American-Style Dining <a href="#" class="btn">See Menu</a></div>
        <div class="card">Pan-Asian Cuisine <a href="#" class="btn">See Menu</a></div>
    </div>
</section>

<section class="dining-tips">
    <h2>Dining Tips</h2>
    <ul style="list-style-type:none">
        <li>Alcohol sales not allowed from midnight to 9 AM</li>
        <li>Don't miss local seafood dishes!</li>
    </ul>
</section>


